{% extends 'index.html' %}
{% load static %}
{% block title %}
<title>Ecom | Login</title>
{% endblock %}


{% block body %}

<div class="container-fluname">
    <div class="row">
        <h1 class="background text-light p-2 text-center">Forget Password</h1>
        <div class="col-xxl-6 col-xl-6 col -lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="{% static '../static/images/login.jpg' %}" class="w-100">

        </div>

        <div class="col-xxl-6 col-xl-6 col -lg-6 col-md-6 col-sm-12 col-xs-12">
            {% for i in messages %}
            <div class="alert alert-danger" role="alert">
                {{i}}
              </div>
              {% endfor %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">User Name</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter username">
                </div>
                
                <button type="submit" class="btn btn-dark w-100">sent otp</button>
                <a href="/login/">login</a>
            </form>

        </div>
    </div>
</div>
{% endblock %}